# Dependencies
/node_modules

# Build output
/out
*.vsix

# VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Mac
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# WordPress Snippets Cache and Backups (user data)
.snippet_cache/
.snippet_backups/
back/